* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  /* font-smoothing: antialiased; */
  text-rendering: optimizeLegibility;
  font-family: 'NanumSquare', sans-serif !important;
}

body {
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: rgb(65, 158, 235);
}

.container {
  max-width: 400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px 'NanumSquare', sans-serif !important;
}

#contact {
  background: #fff;
  /* height: 80vh; */
  padding: 25px;
  margin: auto auto;
  margin-top: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 23px;
  font-weight: 900;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 12px;
  color: black;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 12.5px;
  font-weight: 400;
  color: black;
  line-height: 18px;
  padding-bottom: 10px;
}

#contact h5 {
  margin: 5px 0 5px;
  display: block;
  font-size: 15px;
  font-weight: 800;
  color: black;
}

.label-h5{
  margin: 5px 10px 10px 0;
  /* display: block; */
  font-size: 13px;
  font-weight: 600;
  color: black;
}

label[for="radio"]{
  position: relative;
  top: -3px;
}

.radio{
  font-weight: 600;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


textarea:focus::placeholder{
  color: black;
}

textarea:focus::-webkit-input-placeholder{
  color: black;
}

textarea:focus::-moz-placeholder{
  color: black;
}

textarea:focus:-ms-input-placeholder{
  color: black;
}

/* category */

#category{text-align: center;margin-top: 5px;margin-bottom: -10px;}
/* rario button */ 

/* 라디오 버튼 숨기기 (원형 디스크) 푸시 버튼 효과를 생성하기 위해 레이블을 사용합니다.*/ 

input[type=radio] { 
  display:none;  
  margin:0px; 
} 



/* 레이블 (radiobuttons에 인접한)의 look'n'feel을 변경하시면 됩니다. 

레이블에 여백을 추가하고 패딩을 추가해 주면 됩니다.*/ 



input[type=radio] + label {   
  display:inline-block; 
  margin:4px; 
  padding: 0px 5px; 
  background-color: #fff; 
  border: 1px solid rgb(110, 110, 110); 
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 10vw; 
  /* Firefox 1-3.6 */
  -moz-border-radius: 10vw; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 10vw; 
  font-size: 12px !important; 
  font-weight: 500;
  width: 75px; 
  height: 32px;
  text-align: center; 
  color: rgb(80, 80, 80); ;
} 

/* checked */
input[type=radio]:checked + label {  
  background-color: rgb(110, 110, 110); 
  border: 1px solid rgb(110, 110, 110); 
  color: #FFF;
  font-weight: 600;
} 

/* 선택한 라디오 단추 옆의 레이블에 대한 배경색 변경하면 됩니다. 강조 표시된 버튼으로 보이게합니다.*/ 

input[type=radio]:radio + label {  
  background-image: none; 
  background-color:#3598dc; 
  color:#fff; 
} 

table td{
  font-size: 9px;
}

#camera{
  margin-left: 160px;
}


input[type=submit] + label {   
  display:inline-block; 
  margin-top: -10px;
  /* margin:5px 0;  */
  padding: 5px 5px; 
  background-color: #fff; 
  border: 1px solid rgb(150, 150, 150); 
  color: black;
  font-size: 14px !important; 
  font-weight: 500;
  width: 100%; 
  text-align: center; 
} 

input[type=submit]:hover + label:hover { 
  background-color: rgb(150, 150, 150); 
  border: 1px solid rgb(150, 150, 150); 
  color: rgb(255, 255, 255);
  font-weight: 600;
  cursor: pointer;
} 
